<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysAdvanceConfigMapper">
    
    <resultMap type="SysAdvanceConfig" id="SysAdvanceConfigResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="weight"    column="weight"    />
        <result property="maxUsersNum"    column="max_users_num"    />
        <result property="type"    column="type"    />
        <result property="times"    column="times"    />
        <result property="price"    column="price"    />
        <result property="periods"    column="periods"    />
        <result property="instruction"    column="instruction"    />
        <result property="trainerId"    column="trainerId"    />
    </resultMap>

    <sql id="selectSysAdvanceConfigVo">
        select id, title, weight, max_users_num, type, times, price, periods, instruction, trainerId from sys_advance_config
    </sql>

    <select id="selectSysAdvanceConfigList" parameterType="SysAdvanceConfig" resultMap="SysAdvanceConfigResult">
        <include refid="selectSysAdvanceConfigVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="weight != null  and weight != ''"> and weight = #{weight}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="times != null  and times != ''"> and times = #{times}</if>
            <if test="periods != null  and periods != ''"> and periods = #{periods}</if>
            <if test="instruction != null  and instruction != ''"> and instruction = #{instruction}</if>
            <if test="trainerId != null "> and trainerId = #{trainerId}</if>
        </where>
    </select>
    
    <select id="selectSysAdvanceConfigById" parameterType="Long" resultMap="SysAdvanceConfigResult">
        <include refid="selectSysAdvanceConfigVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysAdvanceConfig" parameterType="SysAdvanceConfig">
        insert into sys_advance_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="weight != null and weight != ''">weight,</if>
            <if test="maxUsersNum != null and maxUsersNum != ''">max_users_num,</if>
            <if test="type != null">type,</if>
            <if test="times != null and times != ''">times,</if>
            <if test="price != null">price,</if>
            <if test="periods != null and periods != ''">periods,</if>
            <if test="instruction != null and instruction != ''">instruction,</if>
            <if test="trainerId != null">trainerId,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="weight != null and weight != ''">#{weight},</if>
            <if test="maxUsersNum != null and maxUsersNum != ''">#{maxUsersNum},</if>
            <if test="type != null">#{type},</if>
            <if test="times != null and times != ''">#{times},</if>
            <if test="price != null">#{price},</if>
            <if test="periods != null and periods != ''">#{periods},</if>
            <if test="instruction != null and instruction != ''">#{instruction},</if>
            <if test="trainerId != null">#{trainerId},</if>
         </trim>
    </insert>

    <update id="updateSysAdvanceConfig" parameterType="SysAdvanceConfig">
        update sys_advance_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="weight != null and weight != ''">weight = #{weight},</if>
            <if test="maxUsersNum != null and maxUsersNum != ''">max_users_num = #{maxUsersNum},</if>
            <if test="type != null">type = #{type},</if>
            <if test="times != null and times != ''">times = #{times},</if>
            <if test="price != null">price = #{price},</if>
            <if test="periods != null and periods != ''">periods = #{periods},</if>
            <if test="instruction != null and instruction != ''">instruction = #{instruction},</if>
            <if test="trainerId != null">trainerId = #{trainerId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysAdvanceConfigById" parameterType="Long">
        delete from sys_advance_config where id = #{id}
    </delete>

    <delete id="deleteSysAdvanceConfigByIds" parameterType="String">
        delete from sys_advance_config where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>