<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysIntegralGoodsMapper">
    
    <resultMap type="SysIntegralGoods" id="SysIntegralGoodsResult">
        <result property="id"    column="id"    />
        <result property="productName"    column="product_name"    />
        <result property="banner"    column="banner"    />
        <result property="stockqty"    column="stockqty"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectSysIntegralGoodsVo">
        select id, product_name, banner, stockqty, status from sys_integral_goods
    </sql>

    <select id="selectSysIntegralGoodsList" parameterType="SysIntegralGoods" resultMap="SysIntegralGoodsResult">
        <include refid="selectSysIntegralGoodsVo"/>
        <where>  
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSysIntegralGoodsById" parameterType="Long" resultMap="SysIntegralGoodsResult">
        <include refid="selectSysIntegralGoodsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysIntegralGoods" parameterType="SysIntegralGoods" useGeneratedKeys="true" keyProperty="id">
        insert into sys_integral_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productName != null and productName != ''">product_name,</if>
            <if test="banner != null and banner != ''">banner,</if>
            <if test="stockqty != null">stockqty,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productName != null and productName != ''">#{productName},</if>
            <if test="banner != null and banner != ''">#{banner},</if>
            <if test="stockqty != null">#{stockqty},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateSysIntegralGoods" parameterType="SysIntegralGoods">
        update sys_integral_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="productName != null and productName != ''">product_name = #{productName},</if>
            <if test="banner != null and banner != ''">banner = #{banner},</if>
            <if test="stockqty != null">stockqty = #{stockqty},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysIntegralGoodsById" parameterType="Long">
        delete from sys_integral_goods where id = #{id}
    </delete>

    <delete id="deleteSysIntegralGoodsByIds" parameterType="String">
        delete from sys_integral_goods where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>